@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'NATS';
    src: url('../fonts/NATS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    position: relative;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}


[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}


[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__container {
    background-color: #2a2a2a;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 222px;
}

.logo {
    font-family: 'NATS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    color: #FFFFFF;
    line-height: 35px;
}

.header__nav ul {
    display: flex;
    gap: 45px;
}

.header__nav ul a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    gap: 145px;
    align-items: center;
}

.header__user__btn {
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.header__button__rectangle {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/header_user_rectangle.svg);
    width: 16px;
    height: 8px;
    transition: transform 0.2s ease-in-out;
}

.header__button__rectangle.active {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.aside__menu__link__text {
    visibility: visible;
    opacity: 1;
    width: fit-content;
    transition: 0.5s ease-in-out;
}

.aside__menu__link__text-active {
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: 0.1s ease-in-out;
}

.nobr {
    white-space: nowrap;
}

.aside__menu {
    width: 222px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 5px 10px 30px 2px rgba(1, 1, 1, 0.1);
    position: fixed;
    transition: width 0.3s ease-in-out;
}

.aside__menu-active {
    width: 100px;
    transition: width 0.3s ease-in-out;
}

.aside__menu__button-container {
    display: flex;
    justify-content: end;
    padding-right: 7px;
}

.aside__button {
    border: none;
    background-color: transparent;
    margin-top: 43px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.aside__button:hover {
    background-color: #bdbdbd;
    transition: 0.3s ease-in-out;
}

.aside__button span {
    background: #545354;
    border-radius: 1px;
    width: 20px;
    height: 2px;
    display: block;
}

.aside__button span:not(:last-child) {
    margin-bottom: 4px;
}

.aside__menu__nav li {
    min-height: 2vh;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.aside__menu__nav li:hover {
    background-color: #bdbdbd;
    transition: 0.2s ease-in-out;
}

.aside__menu__nav li a {
    padding: 2vh 0px 2vh 34px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #545354;
    gap: 15px;
    width: 100%;
}

.aside__menu__nav li a svg {
    flex-shrink: 0;
}

.header__user__dropdown {
    left: -20px;
    background: #FFFFFF;
    box-shadow: -2px 0px 15px 1px rgba(84, 83, 84, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 27px;
    padding: 20px 3px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.header__user__dropdown.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.header__user__dropdown a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #545354;
    transition: 0.3s ease-in-out;
}

.header__user__dropdown a:hover {
    opacity: 0.65;
    transition: 0.3s ease-in-out;
}

.header__user__dropdown a:not(:last-child) {
    margin-bottom: 14px;
}

.top__menu {
    display: none;
}

.bottom__menu {
    display: none;
}

/* Кнопка бургера начало */

.nav-toggle {
    position: relative;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
    top: 19px;
    right: -18px;
    -webkit-transform: (-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #FFFFFF;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 3px;
    width: 36px;
    margin-bottom: 6.2px;
    -webkit-transform-origin: 10% 42%;
    transform-origin: 14% 42%;
}

.benefits__img {
    margin-bottom: 60px;
    width: 100%;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu__dropdown {
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 69px;
    background-color: #2a2a2a;
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 20px;
}

.dropdrown__menu__separator {
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    border-bottom: 1px solid #545354;
    margin-bottom: 20px;
}

.menu__dropdown a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.menu-show {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/* Кнопка бургера конец */

/* Попапы */

.popup {
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(17, 24, 39, 0.5);
}

.popup.popup_opened {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.popup__container {
    position: relative;
    max-width: 530px;
    padding-left: 15px;
    padding-right: 15px;
}

.popup__close {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 20px;
    font-weight: 300;
    border: none;
    color: rgb(17, 24, 39, );
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.popup__close:hover {
    color: rgba(17, 24, 39, 0.5);
    transition: 0.2s;
}

.popup__form h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 18px;
    color: #878484;
    text-align: center;
}

.popup__form label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    color: #878484;
}

.popup__form input {
    padding: 13px;
    color: #878484;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #878484;
    border-radius: 5px;
    margin-bottom: 25px;
    outline: none;
}

.popup__form input:focus {
    border: 1px solid rgb(150, 150, 150);
}

.popup__form button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #521DA8;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.popup__form button:hover {
    opacity: 0.8;
}

.form__checkbox label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #878484;
    cursor: pointer;
    padding-left: 30px;
    user-select: none;
    position: relative;
}

.form__checkbox label a {
    border-bottom: 1px solid #878484;
    color: #878484;
}

.popup__test {
    background-color: white;
    padding: 30px !important;
    max-width: 600px;
    border-radius: 13px;
}

.popup__img {
    max-width: 50vw;
    max-height: 70vh;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top center;
    object-position: top center;
    border-radius: 5px;
}

#photo.popup .popup__close {
    color: white;
    right: -10px;
    top: -25px;
}

.popup__form {
    background-color: #FFFFFF;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.popup__form a {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #878484;
    cursor: pointer;
}

.welcome {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/background.png);
    height: 100%;
    width: 100%;
    background-size: auto;
    background-position: right;
    display: block;
    margin: auto;
    margin-top: 170px;
    height: 100%;
    padding-bottom: 180px;
    max-width: 3840px;
}

.welcome__content {
    margin-right: 30px;
    margin-left: 220px;
    max-width: 415px;
}

.welcome__content h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    color: #000000;
}

.welcome__content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 44px;
}

.welcome__content button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 17px 57px;
    background: #521DA8;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
}

.welcome__content button:hover {
    opacity: 0.9;
}

.form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form__checkbox input {
    display: none;
}

.form__checkbox input+span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    border: 1px solid #918E97;
    border-radius: 2px;
    text-align: center;
}

.form__checkbox input+span:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #521DA8;
    height: 100%;
    width: 100%;
}

.form__checkbox input:checked+span:before {
    opacity: 1;
}

@media(max-width: 1150px) {
    .welcome {
        background-position: 297px bottom;
    }
}

@media(max-width: 1000px) {

    .header {
        padding: 10px 15px;
    }

    .welcome {
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(../img/background_mobile.png);
        height: 100%;
        width: 100%;
        background-size: auto;
        background-position: right bottom;
        margin-top: 100px;
    }

    .welcome__content {
        margin: auto;
    }

    .header__container {
        height: 70px;
    }

    .menu__dropdown a svg {
        display: none;
    }

    .top__menu {
        display: block;
        border-bottom: 0.5px solid rgba(84, 83, 84, 0.2);
        padding: 11px 44px 8px 44px;
        justify-content: space-between;
    }

    .bottom__menu {
        display: block;
        border-top: 0.5px solid rgba(84, 83, 84, 0.2);
        border-bottom: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .top__menu ul {
        display: flex;
        justify-content: space-between;
    }

    .top__menu ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #545354;
    }

    .menu-btn {
        display: block;
    }

    .aside__menu {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .logo {
        display: none;
    }

    .header__user__btn span {
        display: none;
    }
}

@media(max-width: 768px) {

    .welcome__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .welcome__content h1 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media(max-width:500px) {

    .popup__form {
        padding: 40px;
    }

    .top__menu {
        padding: 11px 15px 8px 15px;
    }

    .welcome__content {
        max-width: 100%;
    }

    .welcome__content button {
        width: 100%;
        padding: 12px;
    }
}

@media(max-width:425px) {
    .top__menu ul li a svg {
        width: 20px;
        height: 20px;
    }
}

@media(max-width: 340px) {
    .top__menu ul li a {
        font-size: 12px;
    }
}